*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden; backface-visibility: hidden; 
    scroll-behavior: smooth;
    /* outline:auto;
    outline-style: dashed;
    outline-width: 1px; */
}
input{
    outline: none;
    font-family: Marcellus;
}
a{
    text-decoration: none;
}
.perm_underline_gallery{
    position: relative;
    color: #fff;
}
.perm_underline_gallery::after
{
    height:2px;
    width: 100%;
    position: absolute;
    top:calc(100% + 3px);
    left:0;
    content: '';
    background: #fff;
    animation-name:drop_down_incoming_css_animation;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;

}
.perm_underline{
    position: relative;
    color: #fff;
}
.perm_underline::after
{
    height:1px;
    width: 100%;
    position: absolute;
    top:calc(100%);
    left:0;
    content: '';
    background: #fff;

}
.temp_underline{
    position: relative;
    color: #fff;
    transition: all linear .3s;
}
.temp_underline::after
{
    height:1px;
    width: 0%;
    position: absolute;
    top:calc(100%);
    left:0;
    content: '';
    background: #fff;
    transition: width linear .3s;
}
.temp_underline:hover::after
{
    width: 100%;
}
.temp_underline:hover
{
    color: #b99d75;
}
.hover_admin_text{
    transition: all linear .3s;
    border-radius: 15px;
    color: #fff;
}
.hover_admin_text:hover
{
    color: #b99d75;
}
::-webkit-scrollbar
{
    width: 3px;
    height: 80%;
	background-color: transparent;
}
::-webkit-scrollbar-track
{
    background:lightgrey;
}
::-webkit-scrollbar-thumb
{
    background-color:#b99d75;
    width: 3px;
	border-radius: 20px;
}
::-webkit-scrollbar:hover ::-webkit-scrollbar-thumb{
    width: 3px;
}
input{
    border: none;
}
button
{
    cursor: pointer;
}
button:disabled
{
    opacity:.7;
    cursor: not-allowed;
}
a{
    text-decoration: none;
}
.child_s_image_comp
{
    position: relative;
}
.child_s_image_comp::after
{
    height: 100%;
    width:100%;
    content: '';
    position: absolute;
    background:linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.9) 100%);
    border-radius: inherit;
    z-index: 10;
    transition: all linear .3s;
}

.child_s_image_comp:hover::after
{
    background: rgba(0, 0, 0, 0.7);
}

.child_s_image_comp__left_compiment
{
    position: relative;
    overflow: hidden;
}
.child_s_image_comp__left_compiment::after
{
    height:200%;
    width:100%;
    content: '';
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
    z-index: 5;
    box-shadow: 100px 0 100px 3px rgba(0, 0, 0, .6) inset;
}

.child_s_image_comp__right_compiment
{
    position: relative;
    overflow: hidden;
}
.child_s_image_comp__right_compiment::after
{
    height:200%;
    width:100%;
    content: '';
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%) rotate(180deg);
    z-index: 5;
    box-shadow: 100px 0 100px 3px rgba(0, 0, 0, .6) inset;

}

.all_class_hover
{
    /* box-shadow:0 10px 20px lightgrey; */
    transition: all linear .3s;
    cursor: pointer;
}

.all_class_hover:hover
{
    box-shadow:0 10px 20px rgba(0,0,0,.6);
}
.bg_overlay
{
    position:relative;
}
.bg_overlay::after
{
    height: 100%;
    width: 100%;
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 5;
}
.thin_border
{
    border:1px solid #b99d75;
}
.double_thin_border
{
    position:relative
}
.double_thin_border:after
{
    height: calc(100% + 10px);
    width: 100%;
    content: '';
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border:1px solid #b99d75;
    z-index: 5;
}

.double_thin_border::before
{
    height: 100%;
    width: calc(100% + 10px);
    content: '';
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border:1px solid #b99d75;
    z-index: 5;
}
.hover_text:hover
{
    transition: background .3s linear;
    background-color: #b99d75;
}
.hsec8_static_overlay_image_child1
{
    width:50%;
}
.hsec8_static_overlay_image_child2
{
    width:calc(100% - (50% + 10px));
}

.circle_ball_design
{
    position: relative;
    box-shadow: 0 2px 5px #000 inset;
    /* overflow: hidden; */
}
.circle_ball_design::after
{
    height: 150px;
    width: 150px;
    content: 'LAHOR';
    /* text-transform: uppercase; */
    display:flex;
    justify-content:center;
    align-items: center;
    text-align: right;
    font-size: 12px;
    font-weight: 900;
    font-style: italic;
    color: #b99d75;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-25%) translateX(-25%);
    background:#151719;
    border-radius: 50%;
    font-family: cursive;
    border: 3px double #b99d75;
    /* padding-left: 20px; */
    box-shadow: 1px 0 5px #000;
    z-index: 10;
    font-size-adjust: 5px;
}
.circle_ball_design::before
{
    height: 150px;
    width: 150px;
    content: 'LAHOR';
    display:flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    font-weight: 900;
    font-style: italic;
    color: #b99d75;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(25%) translateX(25%);
    background:#151719;
    border-radius: 50%;
    font-family: cursive;
    border: 3px double #b99d75;
    /* padding-right: 20px; */
    box-shadow: -1px 0 5px #000;
    z-index: 10;
}

.div_text_hover_feature
{
    position: relative;
}

.div_text_hover_feature::after
{
    position: absolute;
    content: '';
    background-position:center;
    background-size:30%;
    background-repeat: no-repeat;
    background-image: url("../assets/logo.JPG");
    display:flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    font-style: italic;
    font-family: cursive;
    color: #b99d75;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    opacity: 0;
    transition: all linear .3s;
    z-index: 5;
}

.div_text_hover_feature:hover::after
{
    opacity: 1;
}

.expandImg_bg
{
    transition: transform linear .5s;
}

.expandImg_bg:hover
{
    transform: scale(1.05);
}

.input_place_holder_style::placeholder
{
    font-weight:500 ;
    font-size: 15px;
    color: #fff;
}

.description_section_style
{
    position: relative;
}
.description_section_style::after
{
    top:0;
    left: -1px;
    content: 'Description';
    color: #b99d75;
    font-weight: 600;
    position: absolute;
    background-color: #151719;
    transform: translateY(-100%);
    height:50px;
    width: 200px;
    border:1px solid #b99d75;
    border-bottom: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:843px) {
    .hsec8_static_overlay_image_child2 , .hsec8_static_overlay_image_child1
    {
        width: 80%;
    }
}